{% load thumbnail %}
<div id="portfolio">
    <div class="container">
        <div class="header-portfolios">
            <h1>{{ homepage.promoted_portfolios_lead }}</h1>
            <h2>{{ homepage.promoted_portfolios_message }}</h2>
        </div>
        <div class="row">
            {% for portfolio in promoted_portfolios %}
                {% include '_portfolio-item.html' %}
            {% endfor %}
        </div>
    </div>
    <div class="container-btn-section2">
        <a class="btn btn-outline-inverse btn-lg btn-section2" href="{% url 'portfolios' %}">
            {{ homepage.promoted_portfolios_button }}
        </a>
    </div>
</div>
