{% extends "_modal-widget.html" %}

{% block modal_id %}modal-supporters{% endblock %}

{% block modal_title %}
Apoiadores
{% endblock %}

{% block modal_body %}
<p>A Escola de Jornalismo é uma plataforma de cursos de comunicação, voltada
para o público jovem e gratuita, construída pela equipe da Énois |
Inteligência Jovem. Mas ela não é um trampo só nosso. Esta plataforma
contou com a contribuição de centenas de pessoas através do site de
financiamento coletivo Catarse.</p>

<p>A todos vocês, que acreditam no potencial transformador da educação e do
jornalismo, agradecemos e prometemos continuar esse trabalho com
compromisso e muita energia. Valeu!</p>

<p>Adriana Franco                     </p>
<p>Alanna Kern                        </p>
<p>Alexandre Seragini                 </p>
<p>Aline Cavalcante                   </p>
<p>Aline Kelly                        </p>
<p>Alvaro Almeida                     </p>
<p>Amanda Rahra                       </p>
<p>Ana Aranha                         </p>
<p>Ana Carolina Nunes                 </p>
<p>Ana Gouvea Bocchini                </p>
<p>Ana Luísa D'Maschio                </p>
<p>Ana Paula Berlinga                 </p>
<p>Anderson Costa                     </p>
<p>André Benevides                    </p>
<p>André Casanova                     </p>
<p>André Rodrigues                    </p>
<p>André Seiti                        </p>
<p>Andrea Lua                         </p>
<p>Andrea Resende                     </p>
<p>Barao Sarno                        </p>
<p>Bea Meira                          </p>
<p>Beatriz Bechelli                   </p>
<p>Beatriz Mendes                     </p>
<p>Beatriz Petrilli                   </p>
<p>Beatriz Torres                     </p>
<p>Ben Rhaiem Med                     </p>
<p></p>Bia                            </p>
<p>Bianca Weingrill                   </p>
<p>Bibiana Haygert                    </p>
<p>Brad Haynes                        </p>
<p>Bruna de Paula                     </p>
<p>Bruno Petri                        </p>
<p>Caio Tendolini                     </p>
<p>Camila Haddad                      </p>
<p>Camilla Salmazi                    </p>
<p>Cândido Azeredo                    </p>
<p>Carla Albertuni                    </p>
<p>Carla Bárbaro Venturelli           </p>
<p>Carlota Mingolla                   </p>
<p>Carol Lara                         </p>
<p></p>Carolina                       </p>
<p>Carolina Aranha                    </p>
<p>Carolina de Queiroz Franco Oliveira</p>
<p>Carolina Ferrés                    </p>
<p>Carolina Motoki                    </p>
<p>Cecília Do Lago                    </p>
<p>Cedê Silva                         </p>
<p></p>Celsobessa                     </p>
<p>Cesar Sinicio Marques              </p>
<p>Claudia Carmello                   </p>
<p>Claudia Pereira Weingrill          </p>
<p>Cleber Arruda                      </p>
<p>Cynthia Rosenburg                  </p>
<p>Daniel Izzo                        </p>
<p>Daniela Bernardi                   </p>
<p>Daniela Monaco Raposo              </p>
<p>Danielle Bidóia                    </p>
<p>David Leonardo                     </p>
<p>Diego Rabatone Oliveira            </p>
<p>Dino Siwek                         </p>
<p>Duanne Ribeiro                     </p>
<p>Dudu Torres                        </p>
<p>Eduardo Nunomura                   </p>
<p>Emanuel Moura                      </p>
<p>Emmanuel Duarte                    </p>
<p>Erik Lopes                         </p>
<p>Fabiana Barbosa                    </p>
<p>Fabio Marabesi                     </p>
<p>Fatima Viscarra                    </p>
<p>Felipe Reis                        </p>
<p>Felipe Sad                         </p>
<p>Fernanda Barbosa                   </p>
<p>Fernando Pedron                    </p>
<p>Fernando Weingrill                 </p>
<p>Filipe Russo                       </p>
<p>Flávia Mantovani                   </p>
<p>Flavia Menani                      </p>
<p>Gabriel Mitani                     </p>
<p>Gabriela Cardoso Arthur            </p>
<p>Gabriela Oliveira                  </p>
<p>Giba Canto                         </p>
<p>Giovana Sanchez                    </p>
<p>Gisela Blanco                      </p>
<p>Gladys Mariotto                    </p>
<p>Gui Neves                          </p>
<p>Guilherme Turri                    </p>
<p>Guilherme Yazaki                   </p>
<p>Gustavo De Boni                    </p>
<p>Gut Simon                          </p>
<p>Harrison Kobalski                  </p>
<p></p>hTrevisani                     </p>
<p>Igor Paulin da Silva               </p>
<p>Isys Remião                        </p>
<p>Jaana Pinheiro                     </p>
<p>jadete calisto da silva            </p>
<p>Jessica Leão                       </p>
<p>João Fellet                        </p>
<p>Joao Markun                        </p>
<p>Jose Carlos N Medeiros             </p>
<p>Juliana Borges                     </p>
<p>Juliana De Faria Kenski            </p>
<p>Juliana Mota Giopato               </p>
<p>karina Prestes Pereira da Silva    </p>
<p>Katia Assad                        </p>
<p>Katiane Romero                     </p>
<p>Larissa Ribeiro                    </p>
<p>Larissa Soriano                    </p>
<p>Laura Mantovanini Guedes           </p>
<p>Laura Nascimento                   </p>
<p>Laura Sobenes                      </p>
<p>Leo Yu                             </p>
<p>Leonardo Sakamoto                  </p>
<p>Lilian Calmon                      </p>
<p>Lilian Starobinas                  </p>
<p>Lindolfo Reinert                   </p>
<p>Lisa Gunn                          </p>
<p>Lívia Laranjeira Souza             </p>
<p>Luana Palmares                     </p>
<p>Lucas Albin                        </p>
<p>Lucas de Castro                    </p>
<p>Luciana Bobadilha                  </p>
<p>Luciana D Anunciação               </p>
<p>Luis Fernando Guggenberger         </p>
<p>Luiz Santelli                      </p>
<p></p>Maíla                          </p>
<p>Maíra Termero                      </p>
<p>Maíra Terra                        </p>
<p>Maís Moreno                        </p>
<p>Maitê Hotoshi                      </p>
<p>Marcela Amorozo Francisco          </p>
<p>Marcela Diorio                     </p>
<p>Marcella Chartier                  </p>
<p>Marcelo Falciano                   </p>
<p>Márcio André de Melo Gomes         </p>
<p>Marcos Salles                      </p>
<p>Maria Clara Matos                  </p>
<p>Maria De Fatima Gallinari          </p>
<p>Maria Paola de Salvo               </p>
<p>Mariana Tiso                       </p>
<p>Mariana Vitule                     </p>
<p>Marília Bueno                      </p>
<p>Marília Filgueiras                 </p>
<p>Mayra Rosa                         </p>
<p>Murilo Casagrande Modolo           </p>
<p></p>Natacha                        </p>
<p>Natalia Barbosa                    </p>
<p>Natalie Reinoso                    </p>
<p>Nathalie Nahas                     </p>
<p>Nayara Ruiz                        </p>
<p>Paola Jacomel Laidane              </p>
<p>Paula Desgualdo                    </p>
<p>Paula Feck                         </p>
<p>Paula Resende                      </p>
<p>Pedro Belo                         </p>
<p>Pedro Markun                       </p>
<p>Pollyanna Alves                    </p>
<p>Priscila Gonsales                  </p>
<p>Quequeré Jogos                     </p>
<p></p>Rafael                         </p>
<p>Rafael Tosta                       </p>
<p>Raphael Bottino                    </p>
<p>Raquel Pereira Clare               </p>
<p>Regina Borba                       </p>
<p>Renato De Paiva Guimaraes          </p>
<p>Renato Garcia                      </p>
<p></p>ricardobferraz                 </p>
<p>Richard Romancini                  </p>
<p>Rodrigo Alvarez                    </p>
<p>Rodrigo Ormezzano Neto             </p>
<p>Rodrigo V Cunha                    </p>
<p>Sato DoBrasil                      </p>
<p>Sérgio Spagnuolo                   </p>
<p>Simone Cunha                       </p>
<p>Suelyen jou laureano               </p>
<p>suraia calixto                     </p>
<p>Suzel Figueiredo                   </p>
<p>Taissa Castro                      </p>
<p>Talita Nozomi Kusunoki             </p>
<p>Talitha Brinati Dornelas           </p>
<p>Tatiana Bittencourt Moraes         </p>
<p>Tatiana Cobbett                    </p>
<p>Teresa Nunes                       </p>
<p>Thiago Rosenberg                   </p>
<p>Thiago Teixeira                    </p>
<p>Tomás de Lara                      </p>
<p>Ton Messa                          </p>
<p>Vanessa Ribeiro                    </p>
<p>Vanessa Scheffer                   </p>
<p>Vera Lucia Ladeira Colonelli       </p>
<p>Veri Soares                        </p>
<p></p>vimenegolo                     </p>
<p>Vinicius Leandro Gonçalves         </p>
<p>Viviane Beatriz Costa              </p>
<p>Wagner Cafagni Borja               </p>
<p>Wania Spada Granja                 </p>
<p>Willians Romano                    </p>
<p>Ximena Leiva                       </p>
<p>Yan Boechat                        </p>
{% endblock %}
