{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load timtec_markdown %}

{% block content %}

<div id="portfolio-user">

    <header class="container">
        <div class="page-header">
            <div class="row">
                <div class="col-md-6 col-sm-8 col-xs-12">
                    <h1>{{ portfolio.name }}</h1>
                </div>
            </div>
        </div>
    </header>

    <div class="actions">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 textright">
                    <div id="save-publish-buttons">
                        <a class="btn btn-success"
                            href="{% url 'portfolio_edit' pk=portfolio.id %}">
                            Editar | <i class="fa fa-save"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="portfolio-content" class="container">
        <div class="row">
            <div class="col-md-6">

                {% if portfolio.video == None  %}
                <section class="thumbnail" id="thumbnail-video" >
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                            <img class=" img-responsive" style="content:url({{ portfolio.get_thumbnail_url }})">
                        </div>
                    </div>
                </section>
                {% else %}
                <section class="video" id="course-video">
                    <div class="row">
                        {% with yid=portfolio.video.youtube_id %}
                        <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                            <iframe id="youtube-player" type="text/html" frameborder="0" 
                                src="//www.youtube.com/embed/{{yid}}?rel=0&showinfo=0&autohide=1&theme=light&wmode=opaque" allowfullscreen>
                            </iframe>
                        </div>
                        {% endwith %}
                    </div>
                </section>
                {% endif %}

            </div>

            <div class="col-sm-6 col-md-3 portfolio-description">
                <h3>Sobre esse projeto</h3>
                <p>{{portfolio.description|timtec_markdown}}</p>
            </div>

            <div class="col-sm-6 col-md-3 portfolio-user-detail">

                <h3>Portfolio criado por</h3>
                <div class="media">
                    <a href="{% url 'profile' username=portfolio.user.username %}" class="pull-left">
                        <div class="thumbnail">
                            <img src="{{ portfolio.user.picture.url }}" class="media-object">
                        </div>
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{{ portfolio.user.first_name }} {{ portfolio.user.last_name }}</h4>
                        <i class="fa fa-map-marker fa-lg"></i>
                        <a>{{ portfolio.user.city }}</a>
                    </div>
                    <small><i>Posted on {{ portfolio.timestamp | date:"d M, y" }}</i></small>
                    <a href="{% url 'profile' username=portfolio.user.username %}"
                        class="btn btn-outline-inverse btn-lg btn-section-user">
                        Ver Perfil Completo
                    </a>
                </div>
                <hr>

                <h3>Outros trabalhos desse perfil</h3>
                <div class="other-portfolio">
                    {% for item in portfolio_items %}
                    <div class="media">
                        <a href="{% url 'portfolio_view' pk=item.id %}" class="pull-left">
                            <div class="thumbnail">
                                <img src="{{ item.get_thumbnail_url }}" class="media-object">
                            </div>
                        </a>
                        <div class="media-body">
                            <h1 class="media-heading">{{ item.name }}</h1>
                            <p>{{ item.description }}</p>
                            <small><i>Posted on {{ item.timestamp | date:"d M, y" }}</i></small>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <hr>

                <h3>Compartilhar</h3>
                <div class="portfolio-share">

                    <ul class="list-unstyled">
                        <li>
                            <span>
                                <a href="#" class="fa fa-facebook" onclick="window.open(
                                    'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),
                                    'fb-share-dialog',
                                    'width=626,height=436');
                                    return false;"></a>
                            </span>
                            <span>
                                <a href="#" class="fa fa-twitter" onclick="window.open(
                                    'http://www.twitter.com/share?url='+encodeURIComponent(location.href),
                                    'fb-share-dialog',
                                    'width=626,height=436');
                                    return false;"></a>
                            </span>

                            <span>
                                <a href="#" class="fa fa-pinterest" onclick="window.open(
                                    'http://pinterest.com/pin/create/link/?url='+encodeURIComponent(location.href),
                                    'fb-share-dialog',
                                    'width=626,height=436');
                                    return false;"></a>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
