{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}

<div id="portfolio-user">

    <header class="container">
        <div class="page-header">
            <div class="row">
                <div class="col-md-6 col-sm-8 col-xs-12">
                    <h1>
                        {% if object %}
                        Editar Trampo
                        {% else %}
                        Novo Trampo
                        {% endif %}
                    </h1>
                </div>
            </div>
        </div>
    </header>

    <div class="actions">
        <div class="container">
            <div class="row">
                {% if object %}
                <div class="col-xs-5">
                    <a class="btn btn-danger"
                        href="{% url 'portfolio_delete' pk=portfolio.id %}">
                        Deletar | <i class="fa fa-trash-o"></i>
                    </a>
                </div>
                {% endif %}
                <div class="col-xs-{{ right_buttons_columns }} textright">
                    <div id="save-publish-buttons">
                        <button class="btn btn-success" type="submit" form="portfolio-form">
                            Salvar | <i class="fa fa-save"></i>
                        </button>
                        <!--
                        <button class="btn btn-warning">
                            Publicar | <i class="fa fa-star-o"></i>
                        </button>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        {{ form.errors }}
        <form id="portfolio-form" method="POST" enctype="multipart/form-data" action="">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.name.name }}">{{ form.name.label }}</label>
                {% render_field form.name class+="form-control"%}
            </div>
            {% if user_can_promote %}
            <div class="form-group">
                <div class="checkbox">
                    <label for="{{ form.home_published.name }}">
                        {% render_field form.home_published %}
                        {{ form.home_published.label }}
                    </label>
                </div>
            </div>
            {% endif %}
            {% if object %}
            <div class="form-group">
                <label for="{{ form.video.name }}">
                    {{ form.video.label }}
                </label>
                <section class="video" id="course-video">
                    <div class="row">
                        {% with yid=portfolio.video.youtube_id %}
                        <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                            <iframe id="youtube-player" type="text/html" frameborder="0" 
                                src="//www.youtube.com/embed/{{yid}}?rel=0&showinfo=0&autohide=1&theme=light&wmode=opaque" allowfullscreen>
                            </iframe>
                        </div>
                        {% endwith %}
                    </div>
                </section>
            </div>
            {% endif %}
            <div class="form-group">
                <label for="{{ form.new_video.name }}">
                    {{ form.new_video.label }}
                </label>
                {% render_field form.new_video class+="form-control"%}
            </div>
            <div class="form-group">
                <label for="{{ form.thumbnail.name }}">
                    {{ form.thumbnail.label }}
                </label>
                {% render_field form.thumbnail class+="form-control"%}
                <p class="help-block">Tamanho máximo do arquivo: 8 MB</p>
            </div>
            <div class="form-group">
                <label for="{{ form.description.name }}">{{ form.description.label }}</label>
                {% render_field form.description class+="form-control"%}
            </div>
            <div class="form-group">
                <label for="{{ form.tags.name }}">{{ form.tags.label }}</label>
                {% render_field form.tags class+="form-control"%}
            </div>
        </form>
    </div>
</div>
{% endblock %}
