{% extends "base.html" %}
{% load widget_tweaks %}

{% block js %}
    {{ block.super }}
    <script>
    // FIXME refactor this to angular
    $(document).ready(function() {
        var converter1 = Markdown.getSanitizingConverter();
        var editor1 = new Markdown.Editor(converter1);
        editor1.run();
    });
    </script>
{% endblock %}

{% block content %}

<div id="portfolio-user">

    <header class="container">
        <div class="page-header">
            <div class="row">
                <div class="col-md-6 col-sm-8 col-xs-12">
                    <h1>
                        {% if object %}
                        Editar Trampo
                        {% else %}
                        Novo Trampo
                        {% endif %}
                    </h1>
                </div>
            </div>
        </div>
    </header>

    <div class="actions">
        <div class="container">
            <div class="row">
                {% if object %}
                <div class="col-xs-5">
                    <a class="btn btn-danger"
                        href="{% url 'portfolio_delete' pk=portfolio.id %}">
                        Deletar | <i class="fa fa-trash-o"></i>
                    </a>
                </div>
                {% endif %}
                <div class="col-xs-{{ right_buttons_columns }} textright">
                    <div id="save-publish-buttons">
                        <button class="btn btn-success" type="submit" form="portfolio-form">
                            Salvar | <i class="fa fa-save"></i>
                        </button>
                        <!--
                        <button class="btn btn-warning">
                            Publicar | <i class="fa fa-star-o"></i>
                        </button>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <form id="portfolio-form" method="POST" enctype="multipart/form-data" action="">
            {% csrf_token %}
            {% with errors=form.name.errors %}
            <div class="form-group{% if errors %} has-error{% endif %}">
                <label for="{{ form.name.name }}">{{ form.name.label }}</label>
                {% render_field form.name class+="form-control"%}
                {% for error in errors %}
                <small>{{error}}</small>
                {% endfor %}
            </div>
            {% endwith %}
            {% if user_can_promote %}
            <div class="form-group">
                <div>
                    <label for="{{ form.home_published.name }}">
                        {% render_field form.home_published %}
                        Publicar na Home
                    </label>
                </div>
            </div>
            {% endif %}
            {% if object %}
            <div class="form-group">
                <label for="{{ form.video.name }}">
                    {{ form.video.label }}
                </label>
                {% for error in form.name.errors %}
                <small>{{error}}</small>
                {% endfor %}
                {% if portfolio.video %}
                <section class="video" id="course-video">
                    <div class="row">
                        {% with yid=portfolio.video.youtube_id %}
                        <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                            <iframe id="youtube-player" type="text/html" frameborder="0" 
                                src="//www.youtube.com/embed/{{yid}}?rel=0&showinfo=0&autohide=1&theme=light&wmode=opaque" allowfullscreen>
                            </iframe>
                        </div>
                        {% endwith %}
                    </div>
                </section>
                {% endif %}
            </div>
            {% endif %}

            {% with errors=form.video.errors %}
            <div class="form-group{% if errors %} has-error{% endif %}">
                <label for="{{ form.new_video.name }}">
                    {% if object.video %}
                    Trocar o vídeo
                    {% else %}
                    {{ form.new_video.label }}
                    {% endif %}
                </label>
                {% render_field form.new_video class+="form-control"%}
                {% if object.video %}
                <p class="help-block">Este campo só precisa ser preenchido para substituir o vídeo atual.</p>
                {% endif %}
                {% for error in errors %}
                <small>{{error}}</small>
                {% endfor %}
            </div>
            {% endwith %}

            {% with errors=form.thumbnail.errors %}
            <div class="form-group{% if errors %} has-error{% endif %}">
                <label for="{{ form.thumbnail.name }}">
                    {{ form.thumbnail.label }}
                </label>
                {% render_field form.thumbnail class+="form-control"%}
                <p class="help-block">Tamanho máximo do arquivo: 8 MB</p>
                {% for error in errors %}
                <small>{{error}}</small>
                {% endfor %}
            </div>
            {% endwith %}

            <div class="form-group">
                <label for="{{ form.description.name }}">{{ form.description.label }}</label>
                <div class="wmd-panel" markdowneditor="true">
                    <div id="wmd-button-bar" class="js-button-bar"></div>
                    <div class="form-group">
                        <textarea id="wmd-input" name="description" class="form-control" rows="10" placeholder="">{{ form.description.value }}</textarea>
                    </div>
                </div>
                <p class="help-block">Se você quiser divulgar trabalhos que estejam em PDF, coloque o link na
descrição. Para publicá-los na internet, você pode usar sites como o Issuu
e o Google Drive, que são gratuitos</p>
            </div>
            <div class="form-group">
                <label for="{{ form.tags.name }}">{{ form.tags.label }}</label>
                {% render_field form.tags class+="form-control"%}
            </div>
        </form>
    </div>
</div>
{% endblock %}
